@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Mochiy+Pop+P+One&family=Montserrat&family=Playfair+Display:ital@1&family=Source+Sans+Pro&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,300;1,400&family=Mochiy+Pop+P+One&family=Montserrat&family=Parisienne&family=Playfair+Display:ital@1&family=Source+Sans+Pro&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
/*--HEADER--*/
.header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(photo-header-3.jpg);
    background-position: left 30% bottom 50%;
    top: 0; left: 0;
    background-size: cover;
    z-index: 1;
}
.header .container{
    width: 90%;
    margin: auto;
    position: relative;
}
.header-navbar{
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 1em;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.header-navbar-logo img{
    width: 110px;
    height: 100px;
    object-fit: cover;

}
.toggle {
    display: none;
    color: white;
}

.menu-link{
    margin-left: 30px;
    color: white;
    padding: 7px 10px;
    border-radius: 3px solid transparent;
}
.menu-link-1{
    margin-left: 30px;
    color: #304e5b;
    border: 3px solid #4281A4;
    font-weight: 800;
    background-color: white;
    padding: 7px 10px;

}
.menu-link:hover{
    color: white;
    border: 3px solid white;
    font-weight: 800;
    background-color: #E6B89C;
}
@media all and (max-width: 810px) {

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .header-navbar-logo {
        position: relative;
        z-index: 20;
    }
    .ouvrir {
        display: block;
    }
    .fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fermer {
        display: block;
    }
    .header-navbar-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #4281A4;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-110%);
    }
    .menu-link {
        font-size: 1.5rem;
    }
    .open .header-navbar-menu {
        transform: translateX(0);
    }
}
.header-slogan{
    text-align: center;
    background-color: #FFFFFF80;
    border: 3px solid white;
    margin: 20%;
}
.header-slogan .title{
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #4281A4;
    font-weight: 800;
;
}
.slogan{
    color: #4281A4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.header-btn{
    padding: 20px 20px;
    font-weight: 600;
    background: #E6B89C;
    color: white;
    border-radius: 4px;
    border: 3px solid white;
}
@media all and (max-width: 950px) {
    .header-slogan .title{
        font-size: 2em;
    }
    .slogan{
        font-size: 1em;

    }
}
@media all and (max-width: 825px) {
    .header-slogan .title{
        font-size: 1.8em;
    }
}
@media all and (max-width: 450px) {
    .header-slogan{
        margin-top: 50%;
    }
    .header-slogan .title{
        font-size: 1em;
    }
    .slogan{
        font-size: 0.7em;
    }
    .header-btn{
        font-size: 0.5em;
        padding: 5px
    }
}
.medias {
    position: absolute;
    right: 3.3%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #E6B89C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.logo-medias{
    width: 50px;
    height: 50px;
}
@media all and (max-width: 500px) {
    .medias {
        position: absolute;
        top: 80%;
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: row;
    }
    .bulle{
        width: 40px;
        height: 40px;
    }
}
/*--HEADER--*/

/*--SECTION 1--*/

/*--FOOTER--*/
footer{
    background-color: #E6B89C;
    color: white;
    padding: 10px 40px;
}
.colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright{
    text-align: center;
    margin: 40px;
}

@media all and (max-width: 750px) {
    footer{
        font-size: 0.7em;
    }
    .colonnes{
        display: flex;
        flex-direction: column;
    }
}